<footer class="site-footer clearfix animated bounceInUp">
  <center>
    <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
    <div class="row">
      <p class="copyright">
        Made with
        <span class="ion-heart"></span>
        <span>by</span>
        <a href="http://sumninjacode.io"> Sumedha Pramod</a>
        <span>&#124;</span>
        <a href='https://github.com/pramodsum/Pramography/issues'>Issues</a>
      </p>
    </div>
  </center>
</footer>
